body {
    background: rgba(0,0,0,0.07);
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px; 

}

.main {
    max-width: 980px;
    margin: 24px auto 72px;
    padding: 0 16px;
}